# TASK 3

## DATA STRUCTURE

### 1. Create a list of 10 elements of four different data types like int, string, complex and float.

In [1]:
list = [10,"Welcome","2+3j",5.50,25,"7+4j","Consultadd",7,8.90,11]

In [2]:
print(list)

[10, 'Welcome', '2+3j', 5.5, 25, '7+4j', 'Consultadd', 7, 8.9, 11]

### 2. Create a list of size 5 and execute the slicing structure

In [3]:
slicing_list = [2,3,6,7,9]

In [4]:
slicing_list[2:3]

[6]

In [5]:
slicing_list[:-4]

[2]

In [6]:
slicing_list[1:5]

[3, 6, 7, 9]

In [7]:
slicing_list[::1]

[2, 3, 6, 7, 9]

### 3. Write a program to get the sum and multiply of all the items in a given list.

In [8]:
from functools import reduce
# Sum

x=reduce(lambda x,y:x+y,[1,2,3,4])
print(x)

# Multiplication

x=reduce(lambda x,y:x*y,[1,2,3,4])
print(x)

10
24

In [9]:
sum = reduce(lambda x,y:x+y,[10,20,30,40,50])

In [10]:
print(sum)

150

In [11]:
Multiply = reduce(lambda x,y:x*y,[10,20,30,40,50])

In [12]:
print(Multiply)

12000000

### 4. Find the largest and smallest number from a given list.

In [13]:
numbers =[37,23,67,89,43,99,49]
numbers.sort()
print(numbers)

[23, 37, 43, 49, 67, 89, 99]

In [14]:
print("Largest Number:",numbers[0])
print("Smallest Number:",numbers[-1])

Largest Number: 23
Smallest Number: 99

### 5. Create a new list which contains the specified numbers after removing the even numbers from a predefined list.

In [20]:
num = [7,8, 120, 25, 44, 20, 27]
num = [x for x in num if x%2!=0] #using loop
print(num)
num = filter(lambda x:x%2!=0,[7,8, 120, 25, 44, 20, 27]) #using lambda
#print(list(num))

[7, 25, 27]

### 6. Create a list of elements such that it contains the squares of the first and last 5 elements between 1 and30 (both included).

In [21]:
l = []
def printValues():
    for i in range(1,31):
        l.append(i**2)
    print(l[:5],l[-5:])

printValues()

[1, 4, 9, 16, 25] [676, 729, 784, 841, 900]

### 7. Write a program to replace the last element in a list with another list.

In [22]:
num1 = [1, 3, 5, 7, 9, 10]
num2 = [2, 4, 6, 8]
num1[-1:] = num2
print(num1)

[1, 3, 5, 7, 9, 2, 4, 6, 8]

### 8. Create a new dictionary by concatenating the following two dictionaries:

In [23]:
#Sample input: a={1:10,2:20} b={3:30,4:40}
#Expected output: {1:10,2:20,3:30,4:40}

In [24]:
dict_1 = {1:10,2:20}
dict_2 = {3:30,4:40}
dict_1.update(dict_2)
print(dict_1)
dict_2.update(dict_1)
print(dict_2)

{1: 10, 2: 20, 3: 30, 4: 40}
{3: 30, 4: 40, 1: 10, 2: 20}

### 9. Create a dictionary that contain numbers in the form(x:x*x) where x takes all the values between 1 and n(both 1 and n included).

In [25]:
#Sample input: n=5
#Expected output: {1:1, 2:4, 3:9, 4:16, 5:25}

In [26]:
d = dict()
for i in range(1,11):
    d[i]= i**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

### 10. Write a program which accepts a sequence of comma-separated numbers from console and generates a list and a tuple which contains every number in the form of string.

In [27]:
#Sample input: 34,67,55,33,12,98
#Expected output: [‘34’,’67’,’55’,’33’,’12’,’98’] (‘34’,’67’,’55’,’33’,’12’,’98’)